<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List person from position</title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="navigation_button">
        <form action="/index" class="form">
            <input type="submit" value="To the main" class="button_head">
        </form>
        <form action="/positions" class="form">
            <input type="submit" value="Show all positions" class="button_head">
        </form>
        <form th:action="@{/positions/{id}(id=${positionForListPeople.getIdPosition()})}" class="form">
            <input type="submit" value="&larr; Show all positions" class="button_head">
        </form>
    </div>

    <div class="title_enum" th:text="'People with the ' + ${positionForListPeople.getNamePosition()} + ' position:'"></div>

    <div th:switch="${flagFromShowPeopleWithThisPosition}">
        <div th:case="'isEmpty'">[list is empty]</div>
        <div th:case="'notIsEmpty'">
            <div th:each="person : ${listPersonFromPosition}">
                <a th:href="@{/people/{id}(id=${person.getIdPerson()})}" th:text="${person.getSurnamePerson()} + ' ' + ${person.getNamePerson()}">person</a>
            </div>
        </div>
    </div>

</body>
</html>